
.contenedor_obras {
    perspective: 500px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    backface-visibility: hidden;
}

.pared {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px 0;
}
