body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -----DEFINO EL ENTORNO 3D------------ */
.contenedor {
    perspective: 500px;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habitacion {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s ease;
}

/* ------DISEÑO ESTRUCTURAL DEL ENTORNOR---- */

/* ------DISEÑO PARA LAS PAREDES------------ */
.pared {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
}

/* ------PARED FRONTAL------------ */
.pared-frontal {
    transform: translateZ(50vw);
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: blue;
}

/* ------PARED TRASERA------------ */
.pared-trasera {
    transform: rotateY(180deg) translateZ(50vw);
    background-color: rgb(255, 187, 0);
}

/* ------PARED DERECHA------------ */
.pared-derecha {
    transform: rotateY(90deg) translateZ(50vw);
    background-color: rgb(255, 0, 0);
}

/* ------PARED IZQUIERDA------------ */
.pared-izquierda {
    transform: rotateY(-90deg) translateZ(50vw);
    background-color: rgb(51, 255, 0);

}

/* ------TECHO------------ */
.techo {
    transform: rotateX(90deg) translateZ(25vw);
    background-color: rgb(60, 255, 0);
    
}

/* ------SUELO------------ */
.suelo {
    transform: rotateX(-90deg) translateZ(25vw) translateY(50vh);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}


/* --------ESTILO PARA LOS CONTROLES----------- */
.controles {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.controles button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/*---------OCULTO BARRA DE SCROLL--------------*/
::-webkit-scrollbar {
    display: none;
}